<ng-container *ngIf="popularInterests.length > 0 && systemLists.length > 0 && popularAuthors.length > 0; else preloader">
  <section class="section-wrapper" *ngIf="popularInterests.length > 0">
    <h2>{{ 'main.popular' | translate }}</h2>
    <slider [item-size]="SliderSizeSmall" [arrows]="true">
      <ng-container *ngFor="let interest of popularInterests">
        <interest-card [interest-data]="interest"></interest-card>
      </ng-container>
    </slider>
  </section>

  <section class="section-wrapper" *ngIf="systemLists.length > 0">
    <h2>{{ 'main.lists' | translate }}</h2>
    <slider [item-size]="SliderSizeBig" [arrows]="true">
      <ng-container *ngFor="let list of systemLists">
        <list-card [list-data]="list"></list-card>
      </ng-container>
    </slider>
  </section>

  <section class="section-wrapper" *ngIf="popularAuthors.length > 0">
    <h2>{{ 'main.popular_authors' | translate }}</h2>
    <slider [item-size]="SliderSizeMedium" [arrows]="true">

      <ng-container *ngFor="let author of popularAuthors">
        <author-card [author-data]="author"></author-card>
      </ng-container>
    </slider>
  </section>
</ng-container>

<ng-template #preloader>
  <div class="preloader">
    <lord-icon
      src="https://cdn.lordicon.com/dpinvufc.json"
      trigger="loop"
      colors="primary:{{interest == 'books' ? '#280A0A' : '#ffffff'}}#121331,secondary:#08a88a"
      style="width:250px;height:250px">
    </lord-icon>
  </div>
</ng-template>

