<section class="section-wrapper">
  <h2>{{ 'main.popular' | translate }}</h2>
  <slider [item-size]="SliderSizeSmall">
    <interest-card [interest-data]="popularInterests[1]"></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
    <interest-card></interest-card>
  </slider>
</section>

<section class="section-wrapper">
  <h2>{{ 'main.lists' | translate }}</h2>
  <slider [item-size]="SliderSizeBig">
    <list-card></list-card>
    <list-card></list-card>
    <list-card></list-card>
    <list-card></list-card>
    <list-card></list-card>
    <list-card></list-card>
    <list-card></list-card>
    <list-card></list-card>
  </slider>
</section>

<section class="section-wrapper">
  <h2>{{ 'main.popular_authors' | translate }}</h2>
  <slider [item-size]="SliderSizeMedium">
    <author-card></author-card>
    <author-card></author-card>
    <author-card></author-card>
    <author-card></author-card>
    <author-card></author-card>
    <author-card></author-card>
    <author-card></author-card>
    <author-card></author-card>
    <author-card></author-card>
  </slider>
</section>
