<a class="card-wrapper"
   [style]="{'background': '#' + data['coverColor'] ?? '#E2842C'}"
   [routerLink]="['/' + interest, environment.LIST_PAGE_PATH, data['id']]">
  <div class="card-content-wrapper"
       [class]="data['photoUrl'] ? 'content-shadows' : ''">
    <h3 class="list-title">{{listName}}</h3>
    <img *ngIf="data['type'] == RecommendationListType.UserDefined && data.ownerProfile"
         class="creator-photo"
         ngSrc="{{data.ownerProfile.photo}}"
         height="200"
         width="200"
         alt="creator photo">

  </div>

  <div class="card-background-filter"
       [class]="data['photoUrl'] ? 'photo' : ''"></div>

  <img *ngIf="data['photoUrl']"
       ngSrc="{{data['photoUrl']}}" fill
       alt="list cover"
       class="card-background">
</a>
