<a class="card-wrapper" [style]="{'background': data['coverColor']}">
  <div class="card-content-wrapper"
       [class]="data['photoUrl'] != '' ? 'content-shadows' : ''">
    <h3 class="list-title">{{data['name']}}</h3>
    <img *ngIf="data['type'] == RecommendationListType.UserDefined"
         class="creator-photo"
         ngSrc="{{data['photoUrl']}}"
         height="200"
         width="200"
         alt="creator photo">
  </div>

  <div class="card-background-filter"
       [class]="data['photoUrl'] != '' ? 'photo' : ''"></div>

  <img *ngIf="data['photoUrl'] != ''"
       ngSrc="{{data['photoUrl']}}" fill
       alt="list cover"
       class="card-background">
</a>
