.card-wrapper {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  aspect-ratio: 7/10;
}

.card-image {
  object-fit: cover;
}

.interest-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;

  transition-property: all;
  transition-timing-function: var(--transition-function-standard);
  transition-duration: var(--transition-medium-2);
}

.interest-details:hover {
  opacity: 1;
}

.interest-details > * {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translateY(30px);
  opacity: 0;
  transition-property: all;
  transition-delay: 0s;
  transition-timing-function: var(--transition-function-standard);
  transition-duration: var(--transition-medium-1);
}

.interest-details:hover > * {
  transform: none;
  opacity: 1;
  transition-delay: .1s;
}

.interest-details > p {
  margin-top: 10px;
  max-height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interest-details > h3 {
  margin-bottom: 0;
}
