<header class="menu-wrapper">
  <ul class="menu-links">
    <li class="link logo">
      <a routerLink="{{'/' + currentInterest}}"><img [class]="currentInterest" [src]="'assets/img/logo/logo_' + currentInterest + '.png'" alt="logo"></a>
    </li>
    <li class="link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="{{'/' + currentInterest}}">{{ 'menu.recommendations' | translate }}</a>
    </li>
    <li class="link" routerLinkActive="active">
      <a routerLink="{{'/' + currentInterest + '/about'}}">{{ 'menu.about' | translate }}</a>
    </li>
  </ul>
  <div class="additional-actions">
    <div class="search-group" [class]="isSearchActive ? 'active' : ''">
      <img src="assets/img/menu/search-icon.png"
           alt="{{ 'menu.search' | translate }}"
      (click)="changeSearchActivity()">
      <input type="text" name="" id="input-search" class="searchbar"
             placeholder="{{ 'menu.search' | translate }}"
             (keydown.enter)="console.log('')"><!--$event.target.value ??-->
    </div>
    <div class="language-buttons-group">
      <button class="language-button" (click)="changeLocale('ua')">UA</button>
      <div class="menu-divider"></div>
      <button class="language-button" (click)="changeLocale('en-GB')">EN</button>
    </div>
    <div class="login-buttons-group"></div>
  </div>
</header>
