:host {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  background: var(--bg-accent-color);
}

.menu-links, .additional-actions {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 12px 0;
  padding: 0;
}

.additional-actions > * {
  margin: 0 5px;
}

.additional-actions > *:last-of-type {
  margin: 0 0 0 5px;
}

.link {
  cursor: pointer;
  margin-right: 20px;
}

.link:first-of-type {
  margin-right: 40px;
}

.link > a, .menu-button {
  text-decoration: none;
  font-size: 22px;
  font-family: var(--headings-font);
  font-weight: var(--headings-font-weight);
  color: var(--menu-font-color);
}

.link > a, .menu-button {
  transition-property: all;
  transition-timing-function: var(--transition-function-standard);
  transition-duration: var(--transition-medium-1);
}

.link > a:hover, .menu-button:hover {
  opacity: .8;
}

.link.active > a, .menu-button.active {
  color: var(--link-active-color);
}

.menu-button {
  outline: none;
  border: 0;
  background: none;
  cursor: pointer;
}

.menu-button.primary {
  border-radius: 20px;
  margin: 0 6px;
  padding: 1px 15px;
  background: var(--button-primary-gradient-bg);
  background-size: var(--button-gradient-background-size);
}

.menu-button.primary:hover {
  opacity: 1;
  background-position: var(--button-gradient-background-position-hover);
}

.buttons-group {
  position: relative;
  display: flex;
  align-content: center;

}

.menu-divider {
  padding: 20px 1px;
  background: var(--menu-font-color);
}

.search-group {
  background: var(--searchbar-bg-color);
  transition-property: all;
  transition-timing-function: var(--transition-function-standard);
  transition-duration: var(--transition-medium-1);
}

.search-group:hover {
  background: var(--searchbar-bg-color-hover);
}

.search-group {
  border-radius: 22px;
  display: flex;
  align-items: center;
}

.search-group > img {
  height: 26px;
  width: 26px;
  padding: 9px;
  cursor: pointer;
}

.searchbar {
  font-family: var(--headings-font);
  font-size: 22px;
  font-weight: 400;
  color: var(--menu-font-color);
}

.searchbar {
  background: none;
  outline: none;
  border: none;
  padding: 9px 0;
  width: 0;
  transition-property: all;
  transition-timing-function: var(--transition-function-standard);
  transition-duration: var(--transition-short);
}

.searchbar::placeholder {
  color: var(--menu-font-color);
}

.search-group.active > .searchbar {
  width: 385px;
  padding: 9px 18px 9px 0;
  transition-duration: var(--transition-medium-2);
}

.user-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-button > img {
  margin-left: 9px;
  height: 20px;
}

.context-menu {
  position: absolute;
  right: 0;
  bottom: -130px;
  background-color: var(--bg-accent-color);
  border: 1px var(--bg-color) solid;
  border-radius: var(--border-radius);

  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.context-menu > button {
  font-family: var(--content-font);
  font-weight: var(--content-font-weight);
  color: var(--menu-font-color);
  background: transparent;
  border: none;
  padding: 10px;
  font-size: 18px;
}

.context-menu > button:hover {
  opacity: 0.7;
  cursor: pointer;
}
