<header class="menu-wrapper">
  <ul class="menu-links">
    <li class="link logo">
      <a routerLink="{{'/' + currentInterest}}"><img [class]="currentInterest" [src]="'assets/img/logo/logo_' + currentInterest + '.png'" alt="logo"></a>
    </li>
    <li class="link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="{{'/' + currentInterest}}">{{ 'menu.recommendations' | translate }}</a>
    </li>
    <li class="link" routerLinkActive="active">
      <a routerLink="{{'/' + currentInterest + '/about'}}">{{ 'menu.about' | translate }}</a>
    </li>
  </ul>
  <div class="additional-actions">
    <div class="search-group" [class]="isSearchActive ? 'active' : ''">
      <img src="assets/img/menu/search-icon.png"
           alt="{{ 'menu.search' | translate }}"
      (click)="changeSearchActivity()">
      <input type="text" name="" id="input-search" class="searchbar"
             placeholder="{{ 'menu.search' | translate }}"
             [(ngModel)]="searchWord"
             (keydown.enter)="openSearch()">
    </div>
    <div class="buttons-group">
      <button class="menu-button" [class.active]="currentLocale === 'ua'" (click)="changeLocale('ua')">UA</button>
      <button class="menu-button" [class.active]="currentLocale === 'en-GB'" (click)="changeLocale('en-GB')">EN</button>
    </div>
    <div class="buttons-group">
      <ng-container *ngIf="!isUserLoggedIn; else userMenu">
        <button class="menu-button" (click)="openLogin()">{{ 'login-sign-up.login' | translate }}</button>
        <div class="menu-divider"></div>
        <button class="menu-button primary" (click)="openSignUp()">{{ 'login-sign-up.sign-up' | translate }}</button>
      </ng-container>
    </div>
    <ng-template #userMenu>
      <button class="menu-button primary user-button" (click)="isUserContextMenuActive = !isUserContextMenuActive">
        {{userName}}
        <img src="assets/img/menu/arrow-icon.png" alt="">
      </button>
      <div class="context-menu" *ngIf="isUserContextMenuActive">
        <button (click)="moveToProfile()">{{ 'menu.user-menu.profile' | translate }}</button>
        <button (click)="moveToFavorite()">{{ 'menu.user-menu.favorite' | translate }}</button>
        <button (click)="logout()">{{ 'menu.user-menu.logout' | translate }}</button>
      </div>
      <!--<button class="menu-button primary" ></button>-->
    </ng-template>
  </div>
</header>
