<div class="search-group">
  <img src="assets/img/menu/search-icon.png"
       alt="{{ 'menu.search' | translate }}">
  <input type="text" name="" id="input-search" class="searchbar"
         placeholder="{{ 'menu.search' | translate }}"
         [(ngModel)]="searchWord"
         (keydown.enter)="updateSearch()">
</div>

<div class="columns-wrapper">
  <div class="сol-wide">
    <h2>{{"search.results" | translate}}</h2>
    <div class="search-grid">
      <ng-container *ngFor="let interest of searchResult.entities; index as index">
        <full-info-interest-card [interest-data]="interest"
                                 [index]="index"></full-info-interest-card>
      </ng-container>
    </div>
  </div>
  <div class="col-narrow">
    <h2>{{"search.filters" | translate}}</h2>
    <div class="filter-button" (click)="areFiltersAvailable[0] = !areFiltersAvailable[0]">
      {{"search.filter-names.status" | translate}}
      <img class="arrow-icon" src="assets/img/arrows/{{currentInterest}}-arrow-right.png">
    </div>
    <div *ngIf="areFiltersAvailable[0]" class="filter-checkboxes">
      <div class="filter-button" (click)="franchiseFilter.value.isFranchise = franchiseFilter.value.isFranchise === false ? undefined : false">
        {{"search.status-values.not-franchise" | translate}}
        <img *ngIf="franchiseFilter.value.isFranchise == false" src="assets/img/search/check-mark.png" alt="">
      </div>
      <div class="filter-button" (click)="franchiseFilter.value.isFranchise = franchiseFilter.value.isFranchise ? undefined : true" >
        {{"search.status-values.franchise" | translate}}
        <img *ngIf="franchiseFilter.value.isFranchise == true" src="assets/img/search/check-mark.png" alt="">
      </div>
    </div>
    <!--<div class="filter-button">
      {{"search.filter-names.tags" | translate}}
      <img class="arrow-icon" src="assets/img/arrows/{{currentInterest}}-arrow-right.png">
    </div>-->
    <div class="filter-button" (click)="areFiltersAvailable[2] = !areFiltersAvailable[2]">
      {{"search.filter-names.genres" | translate}}
      <img class="arrow-icon" src="assets/img/arrows/{{currentInterest}}-arrow-right.png">
    </div>
    <div *ngIf="areFiltersAvailable[2]" class="filter-checkboxes">
      <ng-container *ngFor="let genre of genres; index as index">
        <div class="filter-button" (click)="genresActive[index] = !genresActive[index]">
          {{genre.name}}
          <img *ngIf="genresActive[index]" src="assets/img/search/check-mark.png" alt="">
        </div>
      </ng-container>
    </div>
    <div class="button-wrapper">
      <button class="button button-primary"
              (click)="updateSearch()">
        {{"search.search" | translate}}
      </button>
    </div>
  </div>
</div>
