:host {
  --button-gradient-background-size: 200% auto;

  display: block;
  box-sizing: border-box;
  height: calc(100vh - 71px);
  overflow: auto;
}

:host.games, :host.books {
  --bg-color: #1D2341;
  --bg-accent-color: #051439;
  --blackout-color: #1D234199;


  --font-color: #FFF;
  --link-active-color: #DA67DC;

  --searchbar-bg-color: #4B236A;
  --searchbar-bg-color-hover: #3b1a56;

  --card-color-1: #E2842C;
  --card-color-2: #72389F;
  --card-color-3: #CF2D2D;
  --card-color-4: #DA67DC;

  --author-card-bg-color-1: #72389F;
  --author-card-bg-color-2: #4B236A;

  --button-primary-gradient-bg: linear-gradient(to right, #DA67DC 0%, #E2842C 51%, #DA67DC 100%);

  --scrollbar-bg-color: #fff;
  --scrollbar-bg-color-hover: rgba(255, 255, 255, 0.7);

  margin-top: 71px;
  padding-top: 30px;
  background: var(--bg-color);
}

:host::before {
  content: ' ';
  background: var(--blackout-color);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: var(--transition-function-standard);
  transition-duration: var(--transition-short);
}

:host(.hidden-content)::before {
  z-index: 101;
}

:host(.hidden-interface)::before {
  z-index: 110;
}

:host(.hidden-content)::before,
:host(.hidden-interface)::before {
  opacity: 1;
  transition-duration: var(--transition-medium-2);
}

:host::-webkit-scrollbar {
  width: 14px;
}
:host::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 5px;
}
:host::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg-color);
  border: 3px solid var(--bg-color);
  border-radius: 14px;
}
:host::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-bg-color-hover);
}


:host ::ng-deep h1,
:host ::ng-deep h2,
:host ::ng-deep h3,
:host ::ng-deep h4,
:host ::ng-deep h5,
:host ::ng-deep h6 {
  font-family: var(--headings-font);
  font-weight: var(--headings-font-weight);
  color: var(--font-color);
  margin-top: 0;
}

:host ::ng-deep h2 {
  font-size: 32px;
}

:host ::ng-deep h3 {
  font-size: 26px;
}

:host ::ng-deep p {
  color: var(--font-color);
  font-family: var(--content-font);
  font-weight: var(--content-font-weight);
  font-size: 18px;
}

:host ::ng-deep .username {
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
}

:host ::ng-deep .button {
  color: var(--font-color);
  font-family: var(--content-font);
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition-property: all;
  transition-timing-function: var(--transition-function-standard);
  transition-duration: var(--transition-medium-1);
}

:host ::ng-deep .button-primary:hover {
  background-position: right center;
  box-shadow: none;
}

:host ::ng-deep .button-primary {
  background: var(--button-primary-gradient-bg);
  background-size: var(--button-gradient-background-size);
}


:host ::ng-deep .main-content-wrapper {
  display: block;
  max-width: 1500px;
  margin: 0 auto;
}


