:host {
  --button-gradient-background-size: 200% auto;
  --button-gradient-background-position-hover: right center;
  --button-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

  --border-radius-big: 20px;

  margin-top: 71px;
  padding-top: 30px;
  display: block;
  box-sizing: border-box;
  height: calc(100vh - 71px);
  overflow: auto;
}

:host.games {
  --bg-color: #1D2341;
  --bg-accent-color: #051439;
  --blackout-color: #1D234199;

  --font-color: #FFF;
  --menu-font-color: #FFF;
  --card-font-color: #FFF;
  --button-font-color: #FFF;

  --tag-font-color: #FFF;
  --tag-bg-color: #051439;

  --genre-font-color: #FFF;
  --genre-bg-color: #DA67DC;

  --link-active-color: #DA67DC;

  --searchbar-bg-color: #4B236A;
  --searchbar-bg-color-hover: #3b1a56;

  --filter-button-text-color: #FFF;
  --filter-button-bg-color: #051439;

  --review-color-1: #E2842C;
  --review-color-1-hover: #be6f24;
  --review-card-1-font-color: #FFF;

  --card-color-1: #E2842C;
  --card-color-1-hover: #be6f24;
  --card-color-2: #AE64E8;
  --card-color-2-hover: #924fc7;
  --card-color-3: #CF2D2D;
  --card-color-3-hover: #b02121;
  --card-color-4: #DA67DC;
  --card-color-4-hover: #b649b7;

  --author-card-bg-color-1: #72389F;
  --author-card-bg-color-2: #4B236A;

  --list-page-bg: #72389F;

  --profile-page-bg: #72389F;
  --profile-page-header-bg: #4B236A;

  --button-primary-gradient-bg: linear-gradient(to right, #DA67DC 0%, #E2842C 51%, #DA67DC 100%);
  --button-secondary-gradient-bg: linear-gradient(to right, #DA67DC 0%, #6892D0 51%, #DA67DC 100%);
  --button-simple-bg: #E2842C;
  --button-simple-bg-hover: #c27227;

  --scrollbar-bg-color: #fff;
  --scrollbar-bg-color-hover: rgba(255, 255, 255, 0.7);

  --slider-arrow-left: url('/assets/img/arrows/games-arrow-left.png');
  --slider-arrow-right: url('/assets/img/arrows/games-arrow-right.png');

  background: var(--bg-color);
}

:host.books {
  --bg-color: #FFEDCE;
  --bg-accent-color: #280A0A;
  --blackout-color: #FFEDCE99;

  --font-color: #280A0A;
  --menu-font-color: #FFF;
  --card-font-color: #FFF;
  --button-font-color: #FFF;

  --tag-font-color: #280A0A;
  --tag-bg-color: #DDB480;

  --genre-font-color: #FFF;
  --genre-bg-color: #787D46;

  --link-active-color: #E2842C;

  --searchbar-bg-color: #193439;
  --searchbar-bg-color-hover: #0d2d34;

  --filter-button-text-color: #280A0A;
  --filter-button-bg-color: #DDB480;

  --review-color-1: #193439;
  --review-color-1-hover: #102326;
  --review-card-1-font-color: #FFF;

  --card-color-1: #193439;
  --card-color-1-hover: #102326;
  --card-color-2: #E2842C;
  --card-color-2-hover: #bb671a;
  --card-color-3: #503143;
  --card-color-3-hover: #3f2434;
  --card-color-4: #AD4A2B;
  --card-color-4-hover: #933a1f;

  --author-card-bg-color-1: #787D46;
  --author-card-bg-color-2: #787D46;

  --list-page-bg: #DDB480;

  --profile-page-bg: #787D46;
  --profile-page-header-bg: #3F421C;

  --button-primary-gradient-bg: linear-gradient(to right, #AD4A2B 0%, #E2842C 51%, #AD4A2B 100%);
  --button-secondary-gradient-bg: linear-gradient(to right, #377259 0%, #9B9B9B 51%, #377259 100%);
  --button-simple-bg: #AD4A2B;
  --button-simple-bg-hover: #bb502e;

  --scrollbar-bg-color: #280A0A;
  --scrollbar-bg-color-hover: rgba(40, 10, 10, 0.7);

  --slider-arrow-left: url('/assets/img/arrows/books-arrow-left.png');
  --slider-arrow-right: url('/assets/img/arrows/books-arrow-right.png');

  background: var(--bg-color);
}

:host.movies {
  --bg-color: #1B1B1B;
  --bg-accent-color: #323232;
  --blackout-color: #1B1B1B99;

  --font-color: #FFF;
  --menu-font-color: #FFF;
  --card-font-color: #FFF;
  --button-font-color: #FFF;

  --tag-font-color: #FFF;
  --tag-bg-color: #323232;

  --genre-font-color: #1B1B1B;
  --genre-bg-color: #EEEEEE;

  --link-active-color: #308777;

  --searchbar-bg-color: #3D7369;
  --searchbar-bg-color-hover: #285b51;

  --filter-button-text-color: #FFF;
  --filter-button-bg-color: #323232;

  --review-color-1: #EEEEEE;
  --review-color-1-hover: #d2caca;
  --review-card-1-font-color: #1B1B1B;

  --card-color-1: #308777;
  --card-color-1-hover: #1e6456;
  --card-color-2: #31A8FF;
  --card-color-2-hover: #218cda;
  --card-color-3: #202570;
  --card-color-3-hover: #151a59;
  --card-color-4: #912AC2;
  --card-color-4-hover: #7c1ea9;

  --author-card-bg-color-1: #202570;
  --author-card-bg-color-2: #1B1B1B;

  --list-page-bg: #3F3F3F;

  --profile-page-bg: #308777;
  --profile-page-header-bg: #1B4E44;

  --button-primary-gradient-bg: linear-gradient(to right, #912AC2 0%, #31A8FF 51%, #912AC2 100%);
  --button-secondary-gradient-bg: linear-gradient(to right, #7EBEED 0%, #B89EE1 51%, #7EBEED 100%);
  --button-simple-bg: #31A8FF;
  --button-simple-bg-hover: #2885c9;

  --scrollbar-bg-color: #fff;
  --scrollbar-bg-color-hover: rgba(255, 255, 255, 0.7);

  --slider-arrow-left: url('/assets/img/arrows/movies-arrow-left.png');
  --slider-arrow-right: url('/assets/img/arrows/movies-arrow-right.png');

  background: var(--bg-color);
}

:host::before {
  visibility: hidden;
  content: ' ';
  background: var(--blackout-color);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: var(--transition-function-standard);
  transition-duration: var(--transition-short);
}

:host(.hidden-content)::before {
  z-index: 101;
  visibility: visible;
}

:host(.hidden-interface)::before {
  z-index: 110;
  visibility: visible;
}

:host(.hidden-content)::before,
:host(.hidden-interface)::before {
  opacity: 1;
  transition-duration: var(--transition-medium-2);
}

:host::-webkit-scrollbar {
  width: 14px;
}
:host::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 5px;
}
:host::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg-color);
  border: 3px solid var(--bg-color);
  border-radius: 14px;
}
:host::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-bg-color-hover);
}


:host ::ng-deep h1,
:host ::ng-deep h2,
:host ::ng-deep h3,
:host ::ng-deep h4,
:host ::ng-deep h5,
:host ::ng-deep h6 {
  font-family: var(--headings-font);
  font-weight: var(--headings-font-weight);
  color: var(--font-color);
  margin-top: 0;
}

:host ::ng-deep h1 {
  font-size: 50px;
}

:host ::ng-deep h2 {
  font-size: 32px;
}

:host ::ng-deep h3 {
  font-size: 26px;
}

:host ::ng-deep p {
  color: var(--font-color);
  font-family: var(--content-font);
  font-weight: var(--content-font-weight);
  font-size: 18px;
}

:host ::ng-deep .username,
:host ::ng-deep .game-title,
:host ::ng-deep .score {
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
}

:host ::ng-deep .button {
  color: var(--button-font-color);
  font-family: var(--content-font);
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 60px;
  box-shadow: var(--button-box-shadow);
  transition-property: all;
  transition-timing-function: var(--transition-function-standard);
  transition-duration: var(--transition-medium-1);
}

:host ::ng-deep .button-simple {
  background: var(--button-simple-bg);
}

:host ::ng-deep .button-simple:hover {
  background: var(--button-simple-bg-hover);
  box-shadow: none;
}

:host ::ng-deep .button:hover {
  background-position: var(--button-gradient-background-position-hover);
  box-shadow: none;
}

:host ::ng-deep .button-primary {
  background: var(--button-primary-gradient-bg);
  background-size: var(--button-gradient-background-size);
}

:host ::ng-deep .button-secondary {
  background: var(--button-secondary-gradient-bg);
  background-size: var(--button-gradient-background-size);
}

:host ::ng-deep .main-content-wrapper {
  display: block;
  max-width: 1500px;
  margin: 0 auto 50px;
}

:host ::ng-deep .narrow-content-wrapper {
  display: block;
  max-width: 1200px;
  margin: 0 auto 50px;
}

:host ::ng-deep .сol-narrow {
  width: 300px;
}

:host ::ng-deep .сol-wide {
  max-width: 1200px;
}

:host ::ng-deep .preloader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1600px) {
  :host ::ng-deep .main-content-wrapper {
    max-width: 1250px;
  }

  :host ::ng-deep .сol-narrow {
    width: 250px;
  }
}

@media only screen and (max-width: 1300px) {
  :host ::ng-deep .main-content-wrapper {
    max-width: 1000px;
  }

  :host ::ng-deep .narrow-content-wrapper {
    max-width: 1000px;
  }

  :host ::ng-deep .сol-narrow {
    width: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  :host ::ng-deep .main-content-wrapper {
    max-width: 800px;
  }

  :host ::ng-deep .narrow-content-wrapper {
    max-width: 800px;
  }
}
