:host {
  position: relative;
  min-height: 80vh;
}

.photo-wrapper {
  position: fixed;
}

.photo-wrapper > .interest-photo {
  width: 100%;
  border-radius: var(--border-radius);
  aspect-ratio: 7/10;
  object-fit: cover;
}

.photo-wrapper > .heart {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.list-menu-group {
  width: 100%;
  margin-top: 20px;
}

.list-menu-group > .button {
  width: 100%;
  font-family: var(--headings-font);
  font-weight: var(--headings-font-weight);
}

.content-wrapper {
  box-sizing: border-box;
  padding-left: 20px;
  margin-left: 300px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h1 {
  margin-bottom: 0;
}

.release-date,
.score,
.age-restriction {
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
  color: var(--font-color);
}

.release-date, .age-restriction {
  font-size: 30px;
}

.header-group.alignment-right > * {
  text-align: right;
}

.score {
  font-size: 40px;
}

.score > img {
  height: 34px;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -5px;
}

.gallery {
  /*margin-bottom: ;*/
}

p {
  width: 100%;
  margin-bottom: 0;
}

h2 {
  margin: 25px 0 10px;
}

.reviews-list {
  width: 100%;
}

.reviews-list > * {
  display: block;
  margin: 14px 0;
}


@media only screen and (max-width: 1600px) {
  .content-wrapper {
    margin-left: 250px;
  }

  :host ::ng-deep .сol-narrow {
    width: 250px;
  }
}

@media only screen and (max-width: 1300px) {
  .content-wrapper {
    margin-left: 200px;
  }

  :host ::ng-deep .сol-narrow {
    width: 200px;
  }
}
