@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald:wght@400;500&family=Play:wght@400;700&display=swap');

body {
  --border-radius: 10px;

  --transition-short: .2s;
  --transition-medium-1: .3s;
  --transition-medium-2: .4s;
  --transition-long: .5s;

  --transition-function-standard: cubic-bezier(0.2, 0, 0, 1);

  --headings-font: 'Play', sans-serif;
  --headings-font-weight: 700;

  --content-font: 'Inter', sans-serif;;
  --content-font-weight: 400;

  --accent-font: 'Oswald', sans-serif;
  --accent-font-weight: 400;

  margin: 0;
  padding: 0;
}

/*--- Slick ---*/
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}
