.card-wrapper {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  aspect-ratio: 10/6;
}
