<a class="card-wrapper" [routerLink]="['/' + interest, environment.INTEREST_PAGE_PATH, data['id']]">
  <div class="image-wrapper">
    <img class="card-image" ngSrc="{{data['mainPhotoUrl'] ?? alternativePhoto}}" fill alt="{{title}}">
  </div>

  <div class="interest-details">
    <h2 class="interest-title">{{title}}</h2>
    <p>{{description}}</p>

    <div class="score">
      <img src="/assets/img/interest-card/trophy.png" alt="">
      {{data.averageCustomerReviewRate?.toFixed(1) ?? '-'}}
    </div>
  </div>
</a>
