:host(.color-1) > .card-wrapper {
  background-color: var(--card-color-1);
}

:host(.color-1) > .card-wrapper:hover {
  background-color: var(--card-color-1-hover);
}

:host(.color-2) > .card-wrapper {
  background-color: var(--card-color-2);
}

:host(.color-2) > .card-wrapper:hover {
  background-color: var(--card-color-2-hover);
}

:host(.color-3) > .card-wrapper {
  background-color: var(--card-color-3);
}

:host(.color-3) > .card-wrapper:hover {
  background-color: var(--card-color-3-hover);
}

:host(.color-4) > .card-wrapper {
  background-color: var(--card-color-4);
}

:host(.color-4) > .card-wrapper:hover {
  background-color: var(--card-color-4-hover);
}

h2, p {
  color: var(--card-font-color);
}

* {
  transition-property: all;
  transition-timing-function: var(--transition-function-standard);
  transition-duration: var(--transition-medium-1);
}

.card-wrapper {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  border-radius: var(--border-radius);
  overflow: hidden;
  aspect-ratio: 10/6;
}

.card-wrapper * {
  color: var(--card-font-color);
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: auto;
  border-radius: var(--border-radius);
  aspect-ratio: 7/10;
}

.image-wrapper {
  overflow: hidden;
}

.image-wrapper > img {
  object-fit: cover;
  display: block;
}

.card-wrapper:hover img {
  transform: scale(105%);
}

.interest-details {
  width: 60%;
  padding-left: 20px;
  box-sizing: border-box;
}

.interest-title, .score {
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
}

.interest-details > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  margin-top: 0;
}

.interest-details > h2 {
  margin-bottom: 10px;
}

.score {
  font-size: 26px;
  position: absolute;
  bottom: 20px;
}

.score > img {
  height: 23px;
}
